body {
    color: yellow;
}

.wy-nav-content {
    background: #373434;
}

.wy-nav-content-wrap{
    background: #343131;
}

.wy-nav-side {
    background: #393737;
}

.wy-side-nav-search, .wy-nav-top{
    background-color: green;
}

.rst-content pre code {
    background: #000;
    color: #f8f8f8;
}

.rst-content table.docutils thead, .rst-content table.field-list thead, .wy-table thead {
    color: yellow;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td {
    background-color: #393737;
}
